<p id="notice"><%= notice %></p>

<h1>Areas del Negocio</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th colspan="4">Name</th>

    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <td><%= link_to 'Show', area, class:'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_area_path(area), class:'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <h1>Trabajadores de la empresa</h1>
    <tr>
      <th colspan="4">Name</th>

    </tr>
  </thead>
  <tbody><% @areas.each do |a|%>

    <% a.employees.each do |e| %>


      <tr>
        <td>  <%= a.name %></td>
        <td><%= e.first_name %></td>
        <td><%= e.last_name %></td>
        <td><%= e.email %></td>


      </tr>
      <% end %>
    <% end %>
  </tbody>



<br>

<%= link_to 'New Area', new_area_path, class:'btn btn-info' %>
